/* @import url('../../keycloak/lib/zocial/zocial.css');*/
@font-face {
    font-family: "Bauer Bodoni";
    src: url("./fonts/bauer_bodoni/bauer-bodoni-std-roman.otf");
  }
  
  @font-face {
    font-family: "Bauer Bodoni";
    src: url("./fonts/bauer_bodoni/bauer-bodoni-black.ttf");
    font-weight: bold;
  }
  
  @font-face {
    font-family: "Raleway";
    src: url("./fonts/raleway/raleway.ttf");
    font-weight: 100 900;
  }
  
  @font-face {
    font-family: "Raleway";
    src: url("./fonts/raleway/raleway-italic.ttf");
    font-weight: 100 900;
    font-style: italic;
  }


body {
    background-color: white;
    /*background-image: url('../img/bkgrnd.jpg');*/
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    color: black;
    text-decoration: none;
    text-shadow: none;
    font-family: 'Baur Bodoni', sans-serif;
    margin: 0px;
}

a {
    color: #fff;
}

#kc-locale {
    text-shadow: none;
    position: absolute;
    width: 200px;
    top: 20px;
    right: 20px;
    text-align: right;
    z-index: 9999;
}

#kc-locale ul {
    display: none;
    position: absolute;
    background-color: #fff;
    list-style: none;
    right: 0;
    top: 20px;
    min-width: 100px;
    padding: 2px 0;
    border: solid 1px #bbb;
}

#kc-locale:hover ul {
    display: block;
    margin: 0;
}

#kc-locale ul li a {
    display: block;
    padding: 5px 14px;
    color: #000 !important;
    text-decoration: none;
    line-height: 20px;
}

#kc-locale ul li a:hover {
    color: #4d5258;
    background-color: #d4edfa;
}

#kc-locale-dropdown a {
    color: #4d5258;
    background: 0 0;
    padding: 0 15px 0 0;
    font-weight: 300;
}

#kc-locale-dropdown a:hover {
    text-decoration: none;
}

a#kc-current-locale-link {
    display: block;
    padding: 0 5px;
    text-decoration: none;
}

/* a#kc-current-locale-link:hover {
    background-color: rgba(0,0,0,0.2);
} */

a#kc-current-locale-link::after {
    content: "\2c5";
    margin-left: 4px;
}

.login-pf .container {
    padding-top: 40px;
}

.login-pf a:hover {
    color: #0099d3;
}

#kc-logo {
    width: 100%;
}

/* Change content to change the title of the page*/
div#kc-header::after {
    padding-top: 3px;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 15px;
}

#kc-page-title{
    display: none;
    color: black;
    text-shadow: none;
    margin-left: 9.5rem;
}

div#kc-info {
}

/*title banner size and colour*/
div#kc-header {
    background-color: white(40,53,147);
    background-image: url('./logo-hausenn-black.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 22em;
    padding-bottom: 10em;
    padding-right: 2em;
    padding-left: 3em;
}

div#kc-content {
    text-align: center;
    align-items: center;
    justify-content: center;
}

form#kc-reset-password-form label[for="username"] {
    color: #7b7b7b;
    text-align: start;
    text-shadow: none;
    display: block;
    font-size: 30px;
    margin-left: 9.5rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

form#kc-register-form label[for="firstName"], form#kc-register-form label[for="lastName"], form#kc-register-form label[for="email"], form#kc-register-form label[for="password"], form#kc-register-form label[for="password-confirm"]{
    color: #7b7b7b;
    text-align: start;
    text-shadow: none;
    display: block;
    font-size: 30px;
    margin-left: 9.5rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

form#kc-register-form div#kc-form-options span a{
    color: #7b7b7b;
    text-align: start;
    display: block;
    text-decoration: none;
    text-shadow: none;
    font-size: 30px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/* label change Username, Password text*/
div#kc-form label[for="username"],div#kc-form label[for="password"] {
    color: #7b7b7b;
    text-align: start;
    text-shadow: none;
    display: block;
    font-size: 30px;
    margin-left: 9.5rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

div#kc-form .checkbox {
    display: flex;
    float: left;
    margin-top: 6rem;
    margin-bottom: 6rem;
    margin-left: 7.5rem;
    justify-content: space-between;
}

div#kc-form .checkbox input[type='checkbox'] {
    width: 35px;
    height: 35px;
}



div#kc-form span a[tabindex="5"] {
    color: #7b7b7b !important;
    text-decoration: none;
    font-size: 30px !important;
    text-shadow: none;
    float: right;
    justify-content: space-between;
    margin-top: 6.7rem;
    margin-right: 7.5rem;
    margin-bottom: 6rem;
}


div#kc-form .checkbox label{
    color: black;
    text-shadow: none;
    display: block;
    font-size: 30px !important;
    font-weight: bold;
}
/**/
div#kc-form-login {
    text-align: center;
}

div#info-area {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 45px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    width: 99%;
}

div#info-area p {
    margin-right: 30px;
    display: inline;
    text-shadow: none;
    font-size: 20px;
}
/*fields*/
input[type=text], input[type=password] {
    font-size: 30px;
    border-radius: 10px;
    color: black !important;
    margin: 0px auto 2.5px auto; 
    background-color: white;
    width: 68%;
    height: 5rem;
    font-weight: bold;
    border-style: solid;
    border-color: black;
}

input[type=text]:focus, input[type=password] {
    outline: none;
}

/*button*/
input[type=submit] {
    text-align: center;
    background-color: black;
    font-size: 30px;
    border-radius: 18px;
    color: white !important;
    margin-bottom: 2.5px auto; 
    width: 69%;
    height: 6rem;
    font-weight: bold;
    border-style: solid;
    border-color: black;
}

div#kc-form-options div {
    display: inline-block;
    margin-right: 20px;
    font-size: 25px;
}

div#kc-form-options div label {
    font-size: 20px;
}

div#kc-feedback {
    box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

div#kc-feedback-wrapper {
    padding: 1em;
}

div.feedback-success {
    background-color: rgba(155,155,255,0.1);
}

div.feedback-warning {
    background-color: rgba(255,175,0,0.1);
}

div.feedback-error {
    background-color: rgba(255,0,0,0.1);
}

div#kc-header-wrapper {
    display: none;
}

div#kc-registration {
    color: #7b7b7b !important;
    text-shadow: none;
    margin-bottom: 20px;
}

div#kc-registration span a {
    color: black;
    text-shadow: none;
    font-size: 30px !important;
    font-weight: bold;
    margin: 1.5em 0 1.5em 0;
    text-decoration: none;
}

div#social-login {

}

div.social-login span {
    display: none;
}

div#kc-social-providers ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div#kc-social-providers ul li {
    background-color: white;
    font-size: 30px;
    border-radius: 18px;
    margin: 28px auto 28px auto; 
    width: 69%;
    height: 5.5rem;
    font-weight: bold;
    border-style: solid;
    border-color: black;
}

div#kc-social-providers ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: black;
    background-color: transparent !important;
    text-decoration: none;
    text-shadow: none;
    
}

div#kc-social-providers ul li span {
    display: inline-block;
    margin: 25px auto 25px -57px;
    text-align: center;
}

.zocial.google:before {
    display: flex;
    float: left;
    margin: 25px auto;
    padding: 0 5em;
    font-size: 3px;
    content: url(./google.png);
}

.zocial.facebook:before {
    content: "\f126";
    display: flex;
    float: left;
    margin: 25px auto;
    padding: 0 0.5em;
    content: url(./facebook.png);
}

a.zocial {
    /* border: none;
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0.1)) !important;
    background: -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0.1)) !important;
    background: -ms-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0.1)) !important;
    background: -o-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0.1)) !important;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
    color: rgba(0,0,0,0.6);
    width: 130px;
    text-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em; */
}

/*Confirm Email Screnn*/

.alert-warning .kc-feedback-text {
    font-size: 17px;
    font-weight: bold;
    padding: 5%;
}

.instruction {
    color: #7b7b7b;
    padding: 10px 5%;
    margin-top: 5rem;
    font-size: 25px;
}

.instruction a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

/*Reset Password Screen */

form#kc-reset-password-form div#kc-form-options span a {
    color: #7b7b7b;
    text-align: start;
    display: block;
    text-decoration: none;
    text-shadow: none;
    font-size: 30px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

div#kc-info-wrapper {
    padding: 10%;
    margin-top: 0.5rem;
    color: #7b7b7b;
    font-size: 25px;
}

/*Alert Error*/

.alert-error .kc-feedback-text {
    font-size: 25px;
    color: red;
}

.alert-success .kc-feedback-text {
    font-size: 25px;
    color: green;
}